# Ignore a virtual environment folder named 'venv'
.venv/


# Ignore a data folder where you keep large files
data/
uploads/
*.webm
*.mp4

# VS Code
.vscode/


# Python cache
__pycache__/
*.py[cod]

# Local SQLite database
instance/*.db

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# Blender temporary/backup files
*.blend1
*.blend2