{% extends "base.html" %}

{% block content %}

<h1>Create Account</h1>

<form method="POST">
    <!--Displaying flash messages-->
    {% with messages = get_flashed_messages()%}
        {% if messages%}
            {% for message in messages%}
                <a>{{message}}</a>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <label>Username</label>

    <input type="text" name="username" required>


    <label>Email</label>

    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <label>Confirm Password</label>

    <input type="password" name="confirm_password" required>


    <button type="submit">
        Sign Up
    </button>

</form>

<p>
    Already have an account?

    <a href="{{ url_for('auth.login') }}">
        Login
    </a>

</p>

{% endblock %}